# lab.sh init generates .env with new random passwords. Do not use production data.
LAB_PROJECT=mariadb-ha
CONTAINER_ENGINE=auto
MARIADB_IMAGE=docker.io/library/mariadb:11.8
HAPROXY_IMAGE=docker.io/library/haproxy:3.0-alpine
CLOUDBEAVER_IMAGE=docker.io/dbeaver/cloudbeaver:latest
BIND_ADDRESS=127.0.0.1
NODE1_PORT=13301
NODE2_PORT=13302
NODE3_PORT=13303
WRITER_PORT=13306
READER_PORT=13307
DASHBOARD_PORT=18081
HAPROXY_STATS_PORT=18084
CLOUDBEAVER_PORT=18080
RESTORE_PORT=13309
BUFFER_POOL_SIZE=256M
GCACHE_SIZE=128M
ROOT_PASSWORD=GENERATE_WITH_LAB_INIT
LAB_PASSWORD=GENERATE_WITH_LAB_INIT
READONLY_PASSWORD=GENERATE_WITH_LAB_INIT
SST_PASSWORD=GENERATE_WITH_LAB_INIT
WAIT_SECONDS=600
